<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngif="id<1">Adicionar Usuário</ion-title>
    <ion-title *ngif="id>0">Editar Usuário</ion-title>
  </ion-toolbar>
</ion-header>
https://github.com/andre-arocha/AccessApp.git
<ion-content>
<ion-iten>
  <ion-label position="floating">Nome</ion-label>
  <ion-input></ion-input>
</ion-iten>
<ion-iten>
  <ion-label>Email</ion-label>
  <ion-input></ion-input>
</ion-iten>
<ion-iten>
  <ion-label>Senha</ion-label>
  <ion-input></ion-input>
</ion-iten>
<ion-iten>
  <ion-label>Nivel</ion-label>
  <ion-select>
    <ion-select-option value="admin">Administrador</ion-select-option>
    <ion-select-option value="gerente">Gerente</ion-select-option>
    <ion-select-option value="caixa">Caixa</ion-select-option>
    <ion-select-option value="vendedor">Vendedor</ion-select-option>
  </ion-select>
</ion-iten>
<ion-iten lines="none">
  <ion-button color="success" expand="block"></ion-button>
  <ion-button color="danger" expand="block"></ion-button>
</ion-iten>
</ion-content>
